.Overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ContenedorModal{
    width: 500px;
    height: 100px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0,2) 0px, 7px, 29px, 0px;
    padding: 20px;
    
}

.Encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E838;
}

.Encabezado h3{
    font-weight: 500;
    font-size: 16px;
    color: #1766DC;       
}

.BotonCerrar button{
    display: block;
}

